:root {
  --maincolor: #ff8f00;
  --darkMaincolor: #ff8f00;
  --hovercolor: #3800ff;
  --bordercl: #3800ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  line-height: 1.5;
}

#dark-mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

footer {
  justify-content: space-between;
}
