:root {
  --maincolor: #3498db;
--darkMaincolor: 
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  line-height: 1.5;
}

#dark-mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}
