:root {
  --maincolor: #ff8f00;
  --darkMaincolor: #ff8f00;
  --hovercolor: #3800ff;
  --bordercl: #3800ff;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  line-height: 1.5;
}

#dark-mode-toggle {
  display: flex;
  align-items: center;
  cursor: pointer;
}

footer {
  display: block;

  .main {
    display: flex;
    width: 100%;
    gap: 12px;
    justify-content: space-between;
  }

  .footer-socials {
    display: flex;
  }

  .footer-nav {
    display: flex;
    justify-content: end;
    margin-top: 12px;
  }
}

code {
  padding: 0 0.2em;
  font-family: Roboto Mono;
}

@media (max-width: 768px) {
  footer .main {
    flex-direction: column;
  }

  .footer-info {
    margin-top: 8px;
  }

  .footer-info > .copyright {
    display: block;
  }

  .footer-info > .seperator {
    display: none;
  }

  .footer-nav {
    justify-content: center;
  }
}
